<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>司法行政一体化智能平台</title>
    <link href="lib/angelui/resources/css/module.css" type="text/css" rel="stylesheet">
    <link href="lib/angelui/resources/css/loading-bar.min.css" type="text/css" rel="stylesheet">
    <link href="lib/angelui/resources/css/angelui.css" type="text/css" rel="stylesheet">
    <link href="lib/angelui/vendor/jquery-plugins/select2/select2.css" type="text/css" rel="stylesheet">
    <link href="lib/angelui/resources/icheck/all.css" type="text/css" rel="stylesheet">
    <link href="lib/angelui/resources/jquery-ui/jquery-ui-1.10.3.custom.min.css" type="text/css" rel="stylesheet">
    <link href="lib/angelui/resources/ztree/zTreeStyle/zTreeStyle.css" type="text/css" rel="stylesheet">
    <link href="lib/angelui/resources/toastmesage/css/jquery.toastmessage.css" type="text/css" rel="stylesheet">

    <link href="resources/css/base3.css" rel="stylesheet" type="text/css" />
    <link href="resources/css/base.css" rel="stylesheet" type="text/css" />
    <link href="resources/css/base_yao2.css" rel="stylesheet" type="text/css" />
    <link href="resources/css/base2.css" rel="stylesheet" type="text/css" />

    <link href="resources/css/patch.css" type="text/css" rel="stylesheet">
    <link href="resources/css/child.css" type="text/css" rel="stylesheet">
    <link href="resources/css/gongz.css" type="text/css" rel="stylesheet">
    <link href="resources/css/jzy-base.css" type="text/css" rel="stylesheet">
    <link href="resources/css/trim.css" type="text/css" rel="stylesheet">
    <link href="resources/css/Glyphicons.min.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="resources/css/layout/reset.css" type="text/css">
    <link rel="stylesheet" href="resources/css/layout/base.css" type="text/css">
    <link rel="stylesheet" href="resources/plugins/jquery.mCustomScrollbar.css" type="text/css">
    <link rel="stylesheet" href="resources/css/master_lg.css" type="text/css">
    <link rel="stylesheet" href="resources/css/master_lj.css" type="text/css">
    <link rel="stylesheet" href="resources/css/master_zzy.css" type="text/css">

    <link href="resources/css/debug.css" type="text/css" rel="stylesheet">
    <!--[if IE]>
<script>
var console = {
    log: function (msg) {
        //do nothing
    }
};
document.namespaces;
</script>
<![endif]-->
    <script type="text/javascript" src="config.js?v=20170117"></script>
    <script type="text/javascript" src="lib/angelui/vendor/require.js" data-main="lib/angelui/main.js?v=20210317"></script>

    <script type="text/javascript" src="lib/angelui/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="resources/plugins/placeholder.js"></script>
    <script type="text/javascript" src="lib/angelui/js/master.js"></script>
</head>
<style>
    [ng-cloak] {
        display: none !important;
    }
    /* 给飘窗添加一些基础样式，如宽度，高度和背景颜色等等 */
    
    .outwin {
        width: 440px;
        height: 100px;
        background: #fff;
        margin: 50px 50px;
        border: 1px solid #ddded9;
        box-shadow: 0px 0px 10px #c6c6c6;
        padding-right: 10px;
    }
    
    .outwin dt {
        float: left;
        height: 99px;
        width: 99px;
        background: url(resources/images/icon-warning.png) center center no-repeat;
    }
    
    .outwin dd {
        margin-left: 100px;
        height: 90px;
        padding-top: 10px;
        font-size: 16px;
        line-height: 34px;
    }
    
    .outwin span.grea {
        color: #555555;
        font-size: 24px;
    }
    
    .outwin span.red {
        color: #da043c;
        font-size: 30px;
    }
</style>

<body id="ng-app" ng-controller="indexCtrl" style="overflow-x: hidden;">
    <!--topbar-->
    <div class="topHead"><img ng-cloak ng-src="{{currentPicPath}}" width="530" height="81" />
        <!--一级导航-->
        <div class="rPlace" ng-cloak ng-mouseleave="hideSubTools()">
            <ul class="topNav" style="margin-right: 15px;">
                <li ng-class="currentFun.func_name == fun.func_name?'selected':''" ng-repeat="fun in funs" style="width: 60px;">
                    <a href="#" ng-click="menuClick(fun,1)">
                        <img ng-src="{{fun.imageUrl}}" />
                        <span style="display:block;">{{fun.func_name}}</span>
                    </a>
                </li>
            </ul>
            <!--用户显示-->
            <div class="loginPeople" ng-mouseover="showSubTools()" style="cursor: pointer;">
                <span class="LB_l"></span>
                <span class="LB_m">
        <img src="resources/images/loginUserIcon.png" align="absmiddle"/>
        <span ng-bind="currentUser.lawofficename==undefined?currentUser.username:currentUser.lawofficename"></span>
                </span>
                <span class="LB_r"></span>
            </div>
            <!--密码设置-->
            <ul class="loginBox-pab" ng-show="showConfig">
                <div class="topd"></div>
                <li>
                    <img src="resources/images/stringsm1.png">
                    <a href="javascript:void(0);" ng-click="showModel('password');showConfig=false;" style="font-size: 14px;">修改密码</a>
                </li>
                <!--<li>-->
                <!--<img src="resources/images/stringsm2.png"> <a href="download/downloadManual">帮助</a>-->
                <!--</li>-->
                <li class="notb">
                    <img src="resources/images/stringsm3.png">
                    <a ng-click="loginOut()" href="javascript:void(0);" style="font-size: 14px;">退出系统</a>
                </li>
            </ul>
        </div>
    </div>
    <!--topbar end-->

    <!--左侧导航 left-nav-->
    <ul class="left-nav" ng-class="showLeftMenu == true?'showSecNav':''">
        <li class="title">导航</li>
        <!--二级导航-->
        <li class="cont-choise" ng-repeat="secondMenu in currentFun.children">
            <a href="#" ng-click="menuClick(secondMenu,2)" ng-cloak>
                <img src="resources/images/icon-img/leftNav01.png" />{{secondMenu.func_name}}
            </a>
            <dl>
                <dd ng-if="currSecondFun == secondMenu" ng-repeat="thirdMenu in secondMenu.children">
                    <a href="#" ng-click="menuClick(thirdMenu,3)" ng-attr-title="{{thirdMenu.func_name}}">{{thirdMenu.func_name}}</a>
                </dd>
            </dl>
        </li>
    </ul>
    <!--左侧导航 left-nav end-->


    <!--中间内容 content-->
    <div class="out-frame" ng-class="showLeftMenu == true?'showSecNav2':''">
        <div class="frame-crumbs">
            <img src="resources/images/curbmbg.png">
            <span>当前位置：</span>
            <!--<a href="#">日常办公</a> ---->
            <span ng-cloak>{{currPosition.firstMenu}}{{currPosition.secondMenu}}{{currPosition.thirdMenu}}</span>
        </div>

        <div class="frame-content tabContent" ng-controller="pageCtrl">
            <div id="mainFrame" ng-include="currentApp.htmlTemplateFile" style="margin-left: 0px;width: 100%;left: 0px;">
            </div>
        </div>

        <!--弹窗-->
        <div class="questionnaire" id="questionnaire">
            <div class="btn-close"></div>
            <h2 class="queTitle">您有
                <a href="#" style="color: red;font-size: 30px;" ng-click="toQuestionList();">{{questionTotal}}</a> 份问卷调查需要填写
            </h2>
            <div class="listP" ng-repeat="a in questionnaireList">
                <p> <a href="#" style="font-size: 16px;" ng-click="toQuestion(a.pkid);">{{a.title}}</a></p>
            </div>
        </div>

    </div>
    <!--中间内容 content end-->
    <div ng-show="loadingCount>0" class="content-loading"></div>
    <div ng-include="'src/views/common/password.html'"></div>
    <!-- 飘窗元素 -->
    <div id="warningList" bind-html_compile></div>

</body>

</html>